body{
    margin: 0;
    padding: 0;
    background-color: #e84118;
}
.search-box{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-btn{
    color:#e84118 ;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border:3px solid #000000;
}
//搜索按钮在移动端会错位
.search-btn:hover{
  border:3px solid #ffffff;
 
}
.search-btn:active{
  border:3px solid #ffffff;
  background-color:#55aaff;
 
}
.search-text{
    border: none;
    background:none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
}
.bg-img {
    background-image: url(01.jpg);
    //这里的图片还是先换一下吧，不然万一被人误会了就
    //你害我找了半小时BUG[哭笑不得]
    //放心，没人会看我这个菜鸡网站的
    //实在抱歉，刚才我88来了，抱歉，不然我也不会改的
    //我88来13次了
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: fixed;
    transition: all 0.25s;
    width: 100%;
    z-index: -1000000;
    left: 0;
    top: 0;
}
.footer-box{
    text-align: center;
}
footer{
    animation: delayedFadeIn 1s;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    font-size: 12px;
    color: rgba(255,255,255,.6);
    text-align: center;
    text-shadow: 0 0 20px rgba(0,0,0,.8);
    white-space: nowrap;
}
.zuozhe{
    text-decoration: dashed;
    color: rgba(255,255,255,.6);
}


