body{
    margin: 0;
    padding: 0;
    //background-image: url(1.jpg);
    background-image: url(https://www.yangshangzhen.com/bing/wallpaper);
    //求你了，别换了，我再被发现一次说不定真得不能和你合作了，这个是我找的必应每日图的API，您看看行不行
    //以后说你就行了，太别留了啊。
    //这个你随便只要不删我代码就行，没关系的，图难看没啥，反正没几个人用。
}

.search-text:hover{
    width: 460px;
}
.search-text{
    border: none;
    background:none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 200px;
    text-align: center;
}
.search-box{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#ffffff;
    height: 40px;
    border-radius: 40px;
}
.search-box:focus{
    background-color:#55aaff;
}
.search-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
    border:3px solid #000000;
}
//搜索按钮在移动端会错位(tips)
.search-btn:hover{
  border:3px solid #ffffff;
 
}

.search-btn:active{
  border:3px solid #ffffff;
  background-color:#55aaff;
 
}
//鼠标移上和按下的样式
.footer-box{
    text-align: center;
}
footer{
    animation: delayedFadeIn 1s;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    font-size: 12px;
    color: rgba(255,255,255,.6);
    text-align: center;
    text-shadow: 0 0 20px rgba(0,0,0,.8);
    white-space: nowrap;
}
.zuozhe{
    text-decoration: dashed;
    color: rgba(255,255,255,0.6);
}
#time {
    font-family:sans-serif;
    font-size:60px;
    position: fixed;
    top: -200%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
    transition: .25s;
    color: white;
    position: absolute;
}

